@inherits AppBase

<Blazorise.ThemeProvider Theme="@theme">
    <MediaQueryList>
        <MediaQuery Media="@LCUBreakpoints.Material.SmallDown" @bind-Matches="appState.SmallDown" />

        <CascadingValue Value="appState">
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />

                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>

                <NotFound>
                    <PageTitle>Fathym - Oops!  Not Found.  Beware of Krakyn!</PageTitle>

                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Oops!  Sorry, we couldn't find anything here.  Beware of the Krakyn!</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingValue>
    </MediaQueryList>
</Blazorise.ThemeProvider>
