@inherits MainLayoutBase

@if (studioState != null)
{
    <div>
        <Layout Sider>
            @if (studioState.ActivityBar != null)
            {
                <LayoutSider>
                    <LayoutSiderContent>
                        <IDEActivityBar Title="@studioState.ActivityBar.Title"
                                Icon="@studioState.ActivityBar.Icon"
                                Items="studioState.ActivityBar.Items"></IDEActivityBar>
                    </LayoutSiderContent>
                </LayoutSider>
            }

            <Layout>
                @if (studioState.Header != null)
                {
                    <LayoutHeader Fixed>
                        <IDEHeader Title="@studioState.Header.Title"
                           PackagePath="@($"studio/{studioState.CurrentPackage}")"
                           PluginPath="@studioState.CurrentPlugin"
                           Items="studioState.Header.Items">
                        </IDEHeader>
                    </LayoutHeader>
                }

                <LayoutContent>
                    <Div Padding="Padding.Is2">
                        @Body
                    </Div>
                </LayoutContent>

                <LayoutFooter>
                    <IDEStatusBar Status=""></IDEStatusBar>
                </LayoutFooter>
            </Layout>
        </Layout>
    </div>
}

